## SET:
- Sets are used to store multiple items in a single variable.
- Sets is one of 4 built-in types in Python used to store collection of data, the other 3 are List, Tuple, and Dictionary, all with diffrent qualities and usage.
- A set is a collection that is unordered, unchangeable, unindexed, and do not allow duplicates

## Rmoving Item
- To remove an item in a set, use the **remove()**, or the **discard()** method.

In [7]:
tset = {"acer", "dell", "apple", "lenovo", "acer", "dell", "apple", "lenovo"}
print(tset)
li=[ "acer", "dell", "apple", "lenovo", "acer", "dell", "apple", "lenovo"] 
li

{'acer', 'apple', 'dell', 'lenovo'}

['acer', 'dell', 'apple', 'lenovo', 'acer', 'dell', 'apple', 'lenovo']

In [5]:
print(li[2])

apple

In [2]:
rtset = {"acer", "dell", "apple", "lenovo", "dell"}

In [4]:
rtset

{'acer', 'apple', 'dell', 'lenovo'}

## Note:
- True and 1 is considered the same value:
- False and 0 is considered the same value:

In [9]:
che = {"acer", "dell", "apple", True, 1, False, 0}
che

{False, True, 'acer', 'apple', 'dell'}

## join sets
- There are several ways to join Two or motre sets in python
- The **union()** and **update()** methods joins all items from both sets
- The **intersection()** method keeps only the duplicates.
- The difference() methods keeps the items from the first set that are not in the order set(s).
- The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [14]:
## Union: The unnion method returns a new set with all items from both sets
set1 = {'a','b','c'}
set2 = {1,2,3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [10]:
# here we can use | operator this will join the num of sets
set1 = {'a','b','c', 'd'}
set2 = {1,2,3}
set3 = {"mad", "salar", 3, "court", "Black panthar", "amaran", 3, "salar", "mad"}
set4 = set1 | set2 | set3
print(set4)

{1, 2, 3, 'a', 'b', 'Black panthar', 'court', 'mad', 'amaran', 'c', 'salar', 'd'}

## update
- The **update()** method inderts all items from one set into another
- The **update()** changes the original set, and does not return a new set1.

In [16]:
set1 = {'a','b','c', 'd'}
set2 = {1,2,3}
set2.update(set1)
print(set2)

{1, 2, 3, 'd', 'a', 'c', 'b'}

In [39]:
set1 = {'a','b','c', 'd'}
set2 = {'a','b','c', 'd', 'e'}
set3 = set1.union(set2)
print(set3)

{'d', 'c', 'e', 'b', 'a'}

## - **Intersection()** and **&** we can use any one we will get the same result
- intersection_update() method will also keep only the duplicates, but it will cahnge the original set instead of returning a new set.
## - we can use  **-** instead of the  **difference()** method. and you will get the same result.
- difference_update()  this will keep the items that are not present in both sets.
## -  we can use  **^** instead of the  **symmetric_differene()** method. and you will get the same result.
- symmetric_difference_update() method will keep all but the duplicates, but it will change the original set instead of returning a new set.

In [1]:
movie_names ={"mad", "salar", 3, "court", "Black panthar", "amaran"}
movie_names

{3, 'Black panthar', 'amaran', 'court', 'mad', 'salar'}

In [2]:
movie_names[1]

TypeError: 'set' object is not subscriptable

In [5]:
li = ["mad", "salar", 3, "court", "Black panthar", "amaran"]
li

['mad', 'salar', 3, 'court', 'Black panthar', 'amaran']

In [6]:
li2 = ["mad", "salar", 3, "court", "Black panthar", "amaran", 3, "salar", "mad"]
li2

['mad', 'salar', 3, 'court', 'Black panthar', 'amaran', 3, 'salar', 'mad']

In [3]:
dup_ = {"mad", "salar", 3, "court", "Black panthar", "amaran", 3, "salar", "mad"}
dup_

{3, 'Black panthar', 'amaran', 'court', 'mad', 'salar'}

In [17]:
set1 = {'a','b','c', 'd'}
set2 = {"a", "b", "c", "e" }
set_3= set1.intersection(set2)
print(set_3)

{'a', 'c', 'b'}

In [18]:
set1 = {'a','b','c', 'd', "e"}
set2 = {'a','b','c', 'd' }
set1.intersection_update(set2)
print(set1)

{'a', 'c', 'd', 'b'}

In [20]:
set1 = {'a','b','c', 'd'}
set2 = {1,2,3,"a"}
set3 = set1 & set2
print(set3)

{'a'}

In [59]:
import datetime
dt = datetime.datetime.now().date()
print(dt)

2025-03-17

In [26]:
set1 = {'a','b','c', 'd'}
set2 = {1,2,3,"a"}
set3 = set1.difference(set2)
print(set3)

{'c', 'd', 'b'}

In [43]:
set1 = {'a','b','c', 'd'}
set2 = {1,2,3,"a", "b"}
set3 = set2 - set1
print(set3)

{1, 2, 3}

In [37]:
set1 = {'a','b','c', 'd'}
set2 = {1,2,3, "a"}
set3 = set1 ^ set2
print(set3)

{1, 2, 3, 'd', 'c', 'b'}

In [28]:
set1 = {'a','b','c', 'd'}
set2 = {1,2,3,"a", "b", "c"}
set3 = set1.symmetric
difference(set2)
print(set3)

{1, 2, 3, 'd'}

In [51]:
set1 = {'a','b','c', 'd', "e"}
set2 = {1,2,3,"a", "b", "c"}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 3, 'd', 'e'}