## List:
- List is collection of diffrent data types ( 2.5, 5, "Abhi", "megha").
- list is **mutable** (we can **add**, **remove**, **update**)means we can change the values. and **hashable**
- List items are ordered, changeable, and allow duplicate values..
- if we want to create list using square brackets [ ]
- List items are indexed, the first item has index [0], the second item has index [1] etc.

In [42]:
lst = [1,2,3,4, 25.6, True]

In [43]:
lst

[1, 2, 3, 4, 25.6, True]

## **append()** method
- If you add new items to a list, the new items will be placed at the end of the list.

In [44]:
lst.append("lucifer")
lst

[1, 2, 3, 4, 25.6, True, 'lucifer']

In [45]:
li = [5,8,9,3,3,555555]

In [46]:
lst.extend(li)
lst

[1, 2, 3, 4, 25.6, True, 'lucifer', 5, 8, 9, 3, 3, 555555]

In [47]:
lst.append(li)
lst

[1,
 2,
 3,
 4,
 25.6,
 True,
 'lucifer',
 5,
 8,
 9,
 3,
 3,
 555555,
 [5, 8, 9, 3, 3, 555555]]

In [48]:
for i, v in enumerate(lst):
    print(i, v)

0 1
1 2
2 3
3 4
4 25.6
5 True
6 lucifer
7 5
8 8
9 9
10 3
11 3
12 555555
13 [5, 8, 9, 3, 3, 555555]

In [49]:
lst[0:5]

[1, 2, 3, 4, 25.6]

In [50]:
lst.append("kaju", "Bajji")
lst

TypeError: list.append() takes exactly one argument (2 given)

In [51]:
li = [9,10,15]
li

[9, 10, 15]

In [52]:
lst.extend(li)
lst

[1,
 2,
 3,
 4,
 25.6,
 True,
 'lucifer',
 5,
 8,
 9,
 3,
 3,
 555555,
 [5, 8, 9, 3, 3, 555555],
 9,
 10,
 15]

In [53]:
len(lst)

17

In [54]:
for i,v in enumerate(lst):
    print(i, v)

0 1
1 2
2 3
3 4
4 25.6
5 True
6 lucifer
7 5
8 8
9 9
10 3
11 3
12 555555
13 [5, 8, 9, 3, 3, 555555]
14 9
15 10
16 15

In [55]:
lst[0:4]

[1, 2, 3, 4]

In [56]:
a = lst.append(li)
print(a)

None

In [57]:
lst.insert(0, "ACE")
lst

['ACE',
 1,
 2,
 3,
 4,
 25.6,
 True,
 'lucifer',
 5,
 8,
 9,
 3,
 3,
 555555,
 [5, 8, 9, 3, 3, 555555],
 9,
 10,
 15,
 [9, 10, 15]]

## Ordered

In [58]:
# it means that the items have a defined order, and that order will not change.
l = []

In [59]:
# If you add new items to a list, the new items will be placed at the end of the list.
lst.append("")

In [60]:
lst

['ACE',
 1,
 2,
 3,
 4,
 25.6,
 True,
 'lucifer',
 5,
 8,
 9,
 3,
 3,
 555555,
 [5, 8, 9, 3, 3, 555555],
 9,
 10,
 15,
 [9, 10, 15],
 '']

In [61]:
lst.append(n)

NameError: name 'n' is not defined

In [62]:
lst[4]= "Raju"

In [63]:
lst.clear()

In [64]:
n = [5, 6, 4]

In [65]:
lst

[]

## data removing methods 
- clear()
- remove()
- del
- pop()  # pop method is removes the last value in list

In [14]:
lst

['ACE',
 1,
 2,
 3,
 4,
 'megha',
 25.6,
 True,
 'Omegha',
 5,
 8,
 9,
 3,
 3,
 555555,
 [5, 8, 9, 3, 3, 555555],
 [5, 8, 9, 3, 3, 555555]]

In [15]:
r = lst.pop()
print(r)
print(lst)

[5, 8, 9, 3, 3, 555555]
['ACE', 1, 2, 3, 4, 'megha', 25.6, True, 'Omegha', 5, 8, 9, 3, 3, 555555, [5, 8, 9, 3, 3, 555555]]

In [16]:
lst.pop(5)

'megha'

In [18]:
lst.remove("Omegha")
lst

['ACE', 1, 2, 3, 4, 25.6, True, 5, 8, 9, 3, 3, 555555, [5, 8, 9, 3, 3, 555555]]

In [13]:
lst[9]

[5, 6, 4]

In [4]:
lst

[1, 2, 3, 4, 'megha', 25.6, True]

In [9]:
print(type(lst))

<class 'list'>

In [10]:
lst[0]

1

In [11]:
lst[5]

([5, 5, 6],)

In [5]:
print(lst)

[1, 2, 3, 4, ([5, 5, 6],)]

In [6]:
lst = [1,2,3,4]
g = [5,5,6]

In [7]:
lst.append(g)

In [8]:
print(lst)

[1, 2, 3, 4, [5, 5, 6]]

In [9]:
lst.extend(g)

In [14]:
lst.pop()

[5, 6, 4]

In [1]:
lst

NameError: name 'lst' is not defined

In [58]:
lst.pop()

3

In [16]:
lst.append(6)

In [17]:
lst

[1, 2, 3, 4, 5, 6]

In [2]:
l = [10,20,30,40]
for m in l:
    print(m, end= " ")
    if m>=30:
        break

10 20 30

## Modifying, Adding, and Removing Elements

In [12]:
motorcycles = ['honda', 'yamaha', 'suzuki']

In [13]:
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [14]:
motorcycles[0] = 'ducati'
print(motorcycles)

['ducati', 'yamaha', 'suzuki']

## Adding Elements to a List
- You might want to add a new element to a list for many reasons.
- append() :- One element we can add
- insert() :-  By using index we can add new value 
- extend() :- By using multiple values

In [1]:
# The simplest way to add a new element to a list is to append the item to the list.
#When you append an item to a list, the new element is added to the end of the list.

motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
motorcycles.append('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha', 'suzuki', 'ducati']

## Inserting Elements into a List
- You can add a new element at any position in your list by using the insert() method.

In [3]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles

['honda', 'yamaha', 'suzuki']

In [8]:
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [1]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

['bmw', 'audi', 'toyota', 'subaru']

In [4]:
cars.extend(motorcycles)
cars

['bmw', 'audi', 'toyota', 'subaru', 'honda', 'yamaha', 'suzuki']

## Deleting Elements from a List
- Often, you’ll want to remove an item or a set of items from a list.
- You can remove an item according to its position in the list or according to its value.
- pop() # The pop() method removes the last item in a list, but it lets you work with that item after removing it.
- del() # If you know the position of the item you want to remove from a list, you can use the del statement:
- remove() # based on value we can remove.
- clear() # clear will deleting all values in a list.

In [ ]:
cars

## Removing an Item Using the del Statement
- If you know the position of the item you want to remove from a list, you can use the del statement:

In [32]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)


del motorcycles[0]
print(motorcycles)
# Here we use the del statement to remove the first item, 'honda', from the list of motorcycles:

['honda', 'yamaha', 'suzuki']
['yamaha', 'suzuki']

In [6]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha', 'suzuki']
['honda', 'yamaha']
suzuki

In [9]:
# Sometimes you won’t know the position of the value you want to remove from a list. If you only know the value of the item you want to remove, you can use the remove() method
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)
motorcycles.remove("yamaha")
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'suzuki', 'ducati']

# Organizing a List
- Python provides a number of different ways to organize your lists, depending on the situation
## Sorting a List Permanently with the sort() Method
- Python’s **sort()** method makes it relatively easy to sort a list.
- magine we have a list of cars and want to change the order of the list to store them alphabetically.
- To keep the task simple, let’s assume that all the values in the list are lowercase

In [3]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [10]:
# The sort() method changes the order of the list permanently. The cars are now in alphabetical order, and we can never revert to the original order:
cars

['audi', 'bmw', 'subaru', 'toyota']

In [12]:
# You can also sort this list in "reverse-alphabetical" order by passing the argument reverse=True to the sort() method.
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

## Sorting a List Temporarily with the sorted() Function
- To maintain the original order of a list but present it in a sorted order, you can use the sorted() function. The sorted() function lets you display your list in a particular order, but doesn’t affect the actual order of the list.

In [13]:
cars = ['bmw', '   audi', 'toyota', 'subaru']
print("Here is the original list:")
print(cars)
print("\nHere is the sorted list:")
print(sorted(cars))
print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

# Printing a List in Reverse Order
- To reverse the original order of a list, you can use the reverse() method.

In [15]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)
cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

# Finding the Length of a List
- You can quickly find the length of a list by using the len() function.

In [16]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

## list methods
- append()
- clear()
- copy()
- count()
- extend()
- index()
- insert()
- pop()
- remove()
- reverse()
- sort()

## Searching
- Index (return index)

## Others
- copy() # cpoy means shallow copy 
- sort()

In [8]:
cars = ['bmw', 'audi', 'toyota', 'subaru', "bmw"]

In [11]:
lst.append("pass")

In [9]:
a  = cars.copy()

In [10]:
a

['bmw', 'audi', 'toyota', 'subaru', 'bmw']

In [16]:
s = a[:] # this is another way of the copy the data.

In [15]:
s

[1, 2, 3, 4, 'naga', 25.6, True, 'audi', 'bmw', 'subaru', 'toyota', 'pass']

## Clear()
- clear will delete all elements ln alist

In [11]:
a.clear()
a

[]

In [11]:
a.count("bmw")

2

In [19]:
lst[5]

25.6

In [13]:
a.index("audi")

1

In [25]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## DeepCopy()

In [27]:
# deepcopy is functuion which will come from the copy libarary
from copy import deepcopy
l5 =deepcopy(12)

In [28]:
l5

12

In [30]:
lst = [[1,2,3], [4,5,6], [7,8,9]]
lst

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [32]:
"my name is naga".split(" ")

['my', 'name', 'is', 'naga']

## extend
- The extend is used to extend our current list with another list

In [6]:
# append is add  only one element ata time
# if we want to add multiple elements at a time we can use extend
lst.extend(cars)

In [7]:
lst

[1, 2, 3, 4, 'naga', 25.6, True, 'audi', 'bmw', 'subaru', 'toyota']

## Reverse
- reverse method will reverse the all elements

In [18]:
lst.reverse()
lst

[1, 2, 3, 4, 'naga', 25.6, True, 'audi', 'bmw', 'subaru', 'toyota', 'pass']

In [19]:
lst.reverse()
lst

['pass', 'toyota', 'subaru', 'bmw', 'audi', True, 25.6, 'naga', 4, 3, 2, 1]

In [12]:
h1=(2,4,6,8,21,45,66)
h1
print(type(h1))
j=list(h1)
print(j)
print(type(j))

<class 'tuple'>
[2, 4, 6, 8, 21, 45, 66]
<class 'list'>

## using For loop in this list

In [26]:
li = [1,2,3,4,5,6,7,8,9]
ti = (1,2,3,4,5,6)
dict1 = {"a":"A", "1": 1,1: "One", "b": "B" }

In [12]:
for i in li:
    print(i ** 2)

1
4
9
16
25
36
49
64
81

In [3]:
import math

In [5]:
math.sqrt(10)

3.1622776601683795

In [10]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [21]:
for j in ti:
    print(j ** 2)

1
4
9
16
25
36

In [23]:
for j in ti:
    print(j ** 0.3)

1.0
1.2311444133449163
1.3903891703159093
1.515716566510398
1.6206565966927624
1.711769859409705

In [25]:
math.sqrt(15)

3.872983346207417

In [34]:
for key in dict1:
    if type(dict1[key]==type(1)):
        print(dict1[key])
    elif type(dict1[key])==type("s"):
        print(dict1[key]*2)

A
1
One
B

## List comprehensions
- A common use of a  for loop is to inspect each each item in a sequence and build a new list by appending the result of a exoression computed on some or all of the items inspected. The expression from, called a list comprehension, lets you code idom consielyand directly. since a list comprehension is an expression.

In [4]:
li = [1,2,3,4,5,6,7,8]

In [8]:
for v in li:
    if type(v):
        print(v ** 2)

1
4
9
16
25
36
49
64

In [7]:
[ v ** 2 for v in li if type(v)]

[1, 4, 9, 16, 25, 36, 49, 64]

In [1]:
lis = ["a", "b", "c", "d", "e", "f", "g"]
new_li = []
for i in lis:
    new_li.append("the "+ i)
print(new_li)

['the a', 'the b', 'the c', 'the d', 'the e', 'the f', 'the g']

In [2]:
["the " + i for i in lis ]

['the a', 'the b', 'the c', 'the d', 'the e', 'the f', 'the g']

In [8]:
li

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
e = []
o = []
for i in li:
    if i%2==0:
        e.append(i)
    else:
        o.append(i)
print("these are the even num :", e)
print("these are tnhe odd num : ", o)

these are the even num : [2, 4, 6, 8]
these are the odd num :  [1, 3, 5, 7]

In [18]:
count = 0
p = []
n = int(input())
for i in range(1, n+1):
    if n%i==0:
        count+=1
if count==2:
    print(n, "is prime num")
else:
    print(n, "not prime num")

print(p)

 5

5 is prime num

In [38]:
["the " + i for i in lis ]

['the a', 'the b', 'the c', 'the d', 'the e', 'the f', 'the g']

In [39]:
ti

(1, 2, 3, 4, 5, 6)

In [40]:
tuple(x ** 2 for x in ti )

(1, 4, 9, 16, 25, 36)

In [41]:
{k:False for k in dict1}

{'a': False, '1': False, 1: False, 'b': False}

In [ ]:
## using if condition in list comprehensions
# syntax
# [ operation  for variable in iterator if condition]
# if the condition it true only operation  will be performed

In [43]:
[x for x in li if x%2==0]

[2, 4, 6, 8]

In [44]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
new_li = []
for x in li:
    if x % 2 == 0:
        new_li.append(str(x) + " is even")
    else:
        new_li.append(str(x)+ " is odd")

print(new_li)

['1 is odd', '2 is even', '3 is odd', '4 is even', '5 is odd', '6 is even', '7 is odd', '8 is even']

In [51]:
[str(x)+ " is even"  if x%2 == 0 else str(x)+ " is odd" for x in li]

['1 is odd',
 '2 is even',
 '3 is odd',
 '4 is even',
 '5 is odd',
 '6 is even',
 '7 is odd',
 '8 is even',
 '9 is odd']

In [54]:
## pascal Triangle

In [ ]:
# print Diamond

In [ ]:
# print
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [1]:
print("My name is Abhi")

My name is Abhi

In [2]:
a = input("My name is")
print(a)

My name is abhi

abhi

In [4]:
width= 17
height = 12.0
delimeter = "."
print("width/ 2 = ", width/2)
print("1.width/ 2 = ", width/2, "2.width/2.0", width/2.0)

width/ 2 =  8.5
1.width/ 2 =  8.5 2.width/2.0 8.5

In [3]:
numbers = input("Enter numbers separated by spaces: ")  # Example: "1 2 3 4 5 6"
numbers = list(map(int, numbers.split()))  

even_numbers = [num for num in numbers if num % 2 == 0]  # List comprehension to get even numbers
print(even_numbers)

Enter numbers separated by spaces:  1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16

[2, 4, 6, 8, 10, 12, 14, 16]

In [ ]:
numbers = input("Enter numbers separated by spaces: ")  # Example: "1 2 3 4 5 2 3"
unique_numbers = set(map(int, numbers.split()))  # Convert input into a set
print(unique_numbers)

In [13]:
set1 = set(input("Enter numbers for set1: ").split())  # User enters: 1 2 3
set2 = set(input("Enter numbers for set2: ").split())  # User enters: 3 4 5
intersection = set1 & set2  # or set1.intersection(set2)
print(intersection)

Enter numbers for set1:  1 2 3 4 5
Enter numbers for set2:  3 4 5 6 7

{'4', '5', '3'}

In [15]:
set1 = set(input("Enter numbers for set1: ").split())  # User enters: 1 2 3
set2 = set(input("Enter numbers for set2: ").split())  # User enters: 3 4 5
intersection = set1 & set2  # or set1.intersection(set2)
print(intersection)

Enter numbers for set1:  1 2 3 4 5
Enter numbers for set2:  3 4 2 6 7

{'2', '4', '3'}

In [18]:
set1 = set(input("Enter numbers for set1: ").split())  
set2 = set(input("Enter numbers for set2: ").split())  
intersection = set1 & set2  # or set1.intersection(set2)
print(intersection)

Enter numbers for set1:  a b c d
Enter numbers for set2:  b d e f

{'d', 'b'}

In [7]:
t = input()  # Example input: "10 20 30"
t = tuple(map(int, t.split()))  # Convert input string into a tuple of integers

# Ensure exactly three values are provided
if len(t) != 3:
    print("Error: Please enter exactly three numbers.")
else:
    a, b, c = t
    print(a)
    print(b)
    print(c)

KeyboardInterrupt: Interrupted by user

In [12]:
for i in range(5):
    for j in range(5):
        print("*", end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *