## For loop:
- A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
- This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.
- With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [1]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [2]:
fruits

['apple', 'banana', 'cherry']

In [6]:

for i in fruits:
    print(i)

apple
banana
cherry

# Looping Through a String
- Even strings are iterable objects, they contain a sequence of characters:

In [2]:
# Loop through the letters in the word "banana":
for x in "banana":
  print(x)

b
a
n
a
n
a

## The break Statement
- With the break statement we can stop the loop before it has looped through all the items:

In [1]:
fruits = ["apple", "banana", "cherry", "mango", ]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [9]:
# Exit the loop when x is "banana", but this time the break comes before the print:
fruits = ["apple", "banana", "cherry", "Graps", "banana", "mango"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry
Graps
mango

In [2]:
fruits = ["apple", "banana", "cherry", "Graps", "banana", "mango"]
for x in fruits:
  if x == "banana":
    pass
  print(x)

apple
banana
cherry
Graps
banana
mango

## The continue Statement
- With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [11]:
## The range() Function
- To loop through a set of code a specified number of times, we can use the range() function
- The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.
- The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

for x in range(2, 30, 3):
    print(x)

SyntaxError: invalid syntax (2152962994.py, line 2)

In [14]:
for i in range(1, 15,3):
    print(i)

1
4
7
10
13

In [6]:
# Else in For Loop
# The else keyword in a for loop specifies a block of code to be executed when the loop is finished:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

# Nested Loops
- A nested loop is a loop inside a loop.
- The "inner loop" will be executed one time for each iteration of the "outer loop":

In [9]:
for i in range(6):
    for j in range(5):
        print(i,j)
    print()

0 0
0 1
0 2
0 3
0 4

1 0
1 1
1 2
1 3
1 4

2 0
2 1
2 2
2 3
2 4

3 0
3 1
3 2
3 3
3 4

4 0
4 1
4 2
4 3
4 4

5 0
5 1
5 2
5 3
5 4

In [14]:
n = int(input("which table you want :"))
for i in range(1, 11):
    mul = n * i
    table = f"{n} * {i} = {mul}"
    print(table)

which table you want : 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [14]:
for i in range(6):
    print("*" * i)

*
**
***
****
*****

In [17]:
for i in range(1,6):
    for j in range(1, i+1):
        print("*", end = "")
    print()

*
**
***
****
*****

In [22]:
for i in range(5):
    for j in range(5):
        print("*", end= " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [27]:
for i in range(1, 6):
    for j in range(6, i, -1):
        print("", end=" ")
    for z in range(0, i):
        print("*", end = "")
    print()

     *
    **
   ***
  ****
 *****

In [10]:
summ = 0
for i in range(1,50+1):
    summ += i
print(summ)

1275

In [9]:
a = 0
b = 1
n = int(input("enter a num :"))
print(a, " ", b, end = " ")
for i in range(n):
    c = a + b
    a = b
    b = c
    print(c, end = " ")

enter a num : 5

0   1 1 2 3 5 8

In [10]:
n = input("enter a something : ")
r = n[::-1]
if n == r:
    print("palindrome")
else:
    print("not palindrome")

enter a something :  12321

palindrome