# **Data Types**
- We know that python is Dynamically typed programing laguage
## Why we need to learn about Data types at all?
-  python is automatically understands the data type but it is important to know about the datatypes.

### Basic Datatypes avilable in python are:
- Numerical:  -int, float, complex(immutable)
- Boolean: -bool(True, False)
- strings(Immutable):
- List(mutable): means changable we edit values in list
- Tuple(Immutable): means we can't change the values in tuple
- set (unorderd collection of items, mutable, reomoves duplicates)
- Dictionary ( it is a collection of key & value pairs, mutable, keys are unique, values may ot not be unique)

In [1]:
a = 10
print(a, type(a))
b  = "25"
print(b, type(b))

10 <class 'int'>
25 <class 'str'>

In [2]:
s = str(a)
print(s, type(s))
f = float(a)
print(f, type(f))

10 <class 'str'>
10.0 <class 'float'>

In [3]:
 i = int(b)
print(i ,type(i))
f1 = float(b)

print(f1, type(f1))

25 <class 'int'>
25.0 <class 'float'>

In [ ]:
# str --> input("")
# int --> int(input())
# float --> float(input())

In [1]:
a = input("enter  name:")
print(a)

enter  name Megha

Megha

In [ ]:
print("width/2 =", width/2)

In [2]:
a = 10
b = 15
c = a == b 
print(c)

False

In [5]:
print(a," -", type(a))

10  - <class 'int'>

In [14]:
b = 50
a = "325"
c = int(a)
print(a, type(a))
print(c, type(c))
print(b+c)

325 <class 'str'>
325 <class 'int'>
375

In [ ]:
a

In [2]:
lst = [ 2.5, 5, "name"]
tup = (2.5, 5, "name")
print(type(lst))
print(type(tup))
set = {}
dict = {key, value}

<class 'list'>
<class 'tuple'>

## type convertion

In [2]:
a = 25
type(a)

int

In [4]:
f = float(a)
print(f)
print(type(f))

25.0
<class 'float'>

In [7]:
s =str(a)

In [8]:
type(s)

str

In [5]:
f = 225.0
print(f)
print(type(f))

225.0
<class 'float'>

In [6]:
i = int(f)
print(i)
print(type(i))

225
<class 'int'>

In [ ]:
s = "name"
print(s)
print(type(s))

In [ ]:
i = int(s)
print(i)